<% include ./partials/header %>
<!-- existing products section -->
<div class="col-sm -8">

</div>
<!-- new products section -->
<div class="col-sm-2">
   <button onclick="window.location.href ='/<%=seller.id%>/products/new'">Add new products</button>   
</div> 
<!-- closed row -->
</div>
<!-- closed container -->
</div>
</body>
</html>
